body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(229, 250, 210);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
  margin-top: 100px;
  padding-top: -250px;
  align-items: center;
}

.container2{
  text-align: center;
  margin-top: 100px;
  align-items: center;
}

.btn{
  cursor: pointer;
  margin-top: -60px;
  width: 100px;
  height: fit-content;
}

.pause-table{
  background-color: black;
  color: white;
  height: fit-content;
  margin-left: 410px;
  margin-top: 10px;
  width: 300px;

}